main {text-align:center; position:relative; margin-top:40px;}
main input {border:1px solid #bbb; padding:10px 15px; width:300px; background-color:#fff;}
main button {width:30px; height:30px; position:absolute; right:45px; top:8px;}